<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body style="background: linear-gradient(to right, #4A00E0, #8E2DE2, #00C9FF, #92FE9D);">

    <!-- Navbar -->
    {{> navbar}}

<div class="flex justify-center mt-20">
    <div class="bg-white p-8 pt-4 rounded-lg border-t-4 border-pink-500" style="width: 30rem; box-shadow: 1px 10px 10px 7px rgba(0, 0, 0, 0.4), 0 2px 4px -1px rgba(0, 0, 0, 0.2);">

        <h1 class="text-4xl font-semibold mb-5 text-center">Change Password</h1>
        <form id="passwordForm" action="/changePassword/{{username}}" method="post" onsubmit= "return validateForm()" novalidate>

            <div class="mb-4">
                <label for="oldPassword" class="block text-md font-medium text-gray-600">Old Password</label>
                <input type="password" id="oldPassword" name="oldPassword" class="mt-1 p-2 w-full border-2 bg-gray-100 rounded-lg focus:outline-none focus:border-blue-700"
                    value="{{newPassword}}">
                {{!-- <span id="passwordError" class="text-red-500 text-xs"></span> --}}
                <p id="oldPasswordError" class="h-6 text-red-600 text-sm">{{oldPassError}}</p>
            </div>

            <div class="mb-4">
                <label for="newPassword" class="block text-md font-medium text-gray-600">New Password</label>
                <input type="password" id="newPassword" name="newPassword" class="mt-1 p-2 w-full border-2 bg-gray-100 rounded-lg focus:outline-none focus:border-blue-700"
                    oninput="validateInput(this)" value="{{newPassword}}">
                {{!-- <span id="emailError" class="text-red-500 text-xs"></span> --}}
                <p id="passwordError" class="h-6 text-red-600 text-sm">{{newPassError}}</p>
            </div>

            <button type="submit" class="bg-purple-600 text-white text-lg px-6 py-3 rounded-lg transition duration-300 ease-in-out hover:bg-pink-400">Update</button>
        </form>
    </div>
</div>
<script src="/js/check.js"></script>

</body>

</html>
