<div class="bg-white p-8 pt-4 rounded-lg border-t-4 border-pink-500" style="width: 30rem; box-shadow: 1px 10px 10px 7px rgba(0, 0, 0, 0.4), 0 2px 4px -1px rgba(0, 0, 0, 0.2);">

        <h1 class="text-4xl font-semibold mb-5 text-center">Registration Form</h1>
        <form id="registrationForm" action="/register" method="post" onsubmit= "return validateForm()" novalidate>
            <div class="mb-4">
                <label for="username" class="block text-md font-medium text-gray-600">Username</label>
                <input type="text" id="username" name="username" class="mt-1 p-2 w-full border-2 bg-gray-100 rounded-lg focus:outline-none focus:border-blue-700"
                    oninput="validateInput(this)" value="{{username}}">
                {{!-- <span id="usernameError" class="h-12 text-red-500 text-xs"></span> --}}
                <p id="usernameError" class="h-6 text-red-600 text-sm">{{errors.username}}</p>
            </div>

            <div class="mb-4">
                <label for="password" class="block text-md font-medium text-gray-600">Password</label>
                <div class="relative">
                    <input type="password" id="password" name="password" class="mt-1 p-2 w-full border-2 bg-gray-100 rounded-lg focus:outline-none focus:border-blue-700"
                        oninput="validateInput(this)" value="{{password}}" autocomplete="new-password">
                    <span id="togglePassword" class="absolute top-3 right-3 cursor-pointer" onclick="togglePasswordVisibility()">
                        <i class="fa-solid fa-eye"></i>
                    </span>
                </div>
                <p id="passwordError" class="h-6 text-red-600 text-xs"></p>
            </div>

            <div class="mb-4">
                <label for="email" class="block text-md font-medium text-gray-600">Email</label>
                <input type="email" id="email" name="email" class="mt-1 p-2 w-full border-2 bg-gray-100 rounded-lg focus:outline-none focus:border-blue-700"
                    oninput="validateInput(this)" value="{{email}}">
                {{!-- <span id="emailError" class="text-red-500 text-xs"></span> --}}
                <p id="emailError" class="h-6 text-red-600 text-sm">{{errors.email}}</p>
            </div>

            <div class="mb-4">
                <label for="age" class="block text-md font-medium text-gray-600">Age</label>
                <input type="number" id="age" name="age" class="mt-1 p-2 w-full border-2 bg-gray-100 rounded-lg focus:outline-none focus:border-blue-700"
                    oninput="validateInput(this)" value="{{age}}">
                {{!-- <span id="ageError" class="text-red-500 text-xs"></span> --}}
                <p id="ageError" class="h-6 text-red-600 text-sm"></p>
            </div>

            <button type="submit" class="bg-purple-600 text-white text-lg px-6 py-3 rounded-lg transition duration-300 ease-in-out hover:bg-pink-400">Register</button>
            <a href="/" class="ml-12 text-lg underline hover:text-purple-600">Already have an account?</a>
        </form>
    </div>

<script src="/js/check.js"></script>